ul{
    font-family: cursive;
}
.lorem:hover{
    color: rgb(205, 235, 235);
}
a{
    text-decoration: none;
}
button{
    font-family: inherit;
}
h1{
    color: violet !important;;
}
#hh:hover{
    color: rgb(11, 15, 19)!important;
    text-decoration: underline wavy rgb(139, 183, 230);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
